@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
body {
  -webkit-font-smoothing: antialiased;
}

.panel-1, .panel-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 500px;
  font-size: 80px;
}

.separated-logo {
  font-size: 60px;
  letter-spacing: 0.015em;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  font-weight: 700;
  margin: 0 auto 0.5em auto;
  padding-right: 1.2em;
  display: table;
}
.separated-logo .point, .separated-logo .taken {
  font-size: 0.95em;
  padding: 0.1em;
  display: block;
  opacity: 0;
  animation: appear 0.105s;
  animation-fill-mode: forwards;
  animation-delay: 0.3675s;
}
.separated-logo .point {
  display: table;
  position: absolute;
  right: -0.3em;
  z-index: 200;
}
.separated-logo .taken {
  display: table;
  position: absolute;
  left: -0.3em;
  z-index: 200;
}

.logo-top {
  height: 1.3em;
  background-color: #FF3101;
  position: relative;
  margin-top: 1em;
  opacity: 0;
  animation: appear 0.35s, from-left 0.105s steps(1);
  animation-fill-mode: forwards;
  animation-delay: 4.725s;
}
.logo-top:after {
  content: "";
  position: absolute;
  right: -3.6em;
  top: -0.5em;
  border-style: solid;
  border-width: 1.8em 2em 0 1.6em;
  border-color: transparent transparent transparent #FF3101;
}

.logo-bottom {
  height: 1.3em;
  background-color: #700594;
  margin: 0.135em 0 0 1.6em;
  position: relative;
  opacity: 0;
  animation: appear 0.35s, from-right 0.105s steps(1);
  animation-fill-mode: forwards;
  animation-delay: 4.725s;
}
.logo-bottom:before {
  content: "";
  position: absolute;
  left: -3.599em;
  top: 0;
  border-style: solid;
  border-width: 0 1.6em 1.8em 2em;
  border-color: transparent #700594 transparent transparent;
}

.panel-2 {
  opacity: 0;
  animation: appear 1s;
  animation-delay: 4.2s;
  animation-fill-mode: forwards;
}
.panel-2 .big {
  display: table;
  margin: 0 auto;
}
.panel-2 .big span {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  display: block;
  clear: both;
  color: #700594;
  opacity: 0;
}
.panel-2 .big .strike {
  position: absolute;
  top: 0.65em;
  left: -0.8em;
  opacity: 0;
  height: 0.3em;
  width: 7em;
  background-color: #FF3101;
  animation: strike 0.21s steps(2);
  animation-fill-mode: forwards;
  animation-delay: 7.35s;
}

.panel-1 span {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1em;
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #700594;
}

.america {
  width: 380px;
  margin: 120px auto 0 auto;
  line-height: 1em;
  animation: disappear 0.3s;
  animation-delay: 3.325s;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
}
.america .wrds-4, .america .wrds-5 {
  letter-spacing: 0.1em;
}
.america .wrds-3, .america .wrds-5, .america .dot {
  color: #FF3101;
}
.america span {
  opacity: 0;
}
.america .wrds-1 {
  animation: america 0.35s steps(1);
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
}
.america .wrds-2 {
  animation: america2 0.315s steps(1);
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
  animation-delay: 0.525s;
}
.america .wrds-3 {
  animation: america4 0.28s steps(1);
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
  animation-delay: 1.05s;
}
.america .wrds-4 {
  animation: america3 0.105s steps(1);
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
  animation-delay: 1.575s;
}
.america .wrds-5 {
  animation: america4 0.28s steps(1);
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
  animation-delay: 2.275s;
}
.america .dot {
  animation: appear 0.35s steps(1);
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
  animation-delay: 2.1s;
}

.line-1 {
  animation: line2 0.14s steps(1);
  animation-delay: 6.3s;
  animation-fill-mode: forwards;
}

.line-2 {
  animation: line1 0.14s steps(1);
  animation-delay: 6.65s;
  animation-fill-mode: forwards;
}

.line-3 {
  animation: line2 0.14s steps(1);
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

@keyframes america {
  0%, 33% {
    transform: translate(-1.5em, -0.5em);
    font-size: 2.5em;
    opacity: 1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #700594;
  }
  33%, 63% {
    transform: translate(0em, 1em);
    font-size: 2.1em;
    -webkit-text-stroke-width: 3px;
    opacity: 1;
  }
  63%, 100% {
    transform: translate(0px, 0px);
    font-size: 1em;
    opacity: 1;
  }
}
@keyframes america2 {
  0%, 60% {
    transform: translate(0.2em, -0.7em);
    font-size: 3em;
    opacity: 1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #700594;
  }
  60%, 80% {
    transform: translate(2em, -0.5em);
    font-size: 3em;
    opacity: 1;
  }
  80%, 100% {
    transform: translate(0px, 0px);
    font-size: 1em;
    opacity: 1;
  }
}
@keyframes america3 {
  0%, 60% {
    transform: translate(1em, -0.2em);
    font-size: 3em;
    opacity: 1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #700594;
  }
  60%, 80% {
    transform: translate(-2em, -0.5em);
    font-size: 3em;
    opacity: 1;
  }
  80%, 100% {
    transform: translate(0px, 0px);
    font-size: 1em;
    opacity: 1;
  }
}
@keyframes america4 {
  0%, 40% {
    transform: translate(-1em, -0.7em);
    font-size: 3.5em;
    opacity: 1;
  }
  40%, 70% {
    transform: translate(3em, -0.7em);
    font-size: 2em;
  }
  70%, 100% {
    transform: translate(0em, 0em);
    font-size: 1em;
    opacity: 1;
  }
}
@keyframes line1 {
  from {
    transform: translate(-5em, 0em);
    opacity: 1;
  }
  to {
    transform: translate(0em, 0em);
    opacity: 1;
  }
}
@keyframes line2 {
  from {
    transform: translate(5em, 0em);
    opacity: 1;
  }
  to {
    transform: translate(0em, 0em);
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes strike {
  from {
    width: 0;
    opacity: 0.8;
  }
  to {
    width: 6.5em;
    opacity: 0.8;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes from-left {
  from {
    transform: translate(-5em, 0em);
    width: 8em;
  }
  to {
    transform: translate(0em, 0em);
    width: 3em;
  }
}
@keyframes from-right {
  from {
    transform: translate(5em, 0em);
    width: 8em;
  }
  to {
    transform: translate(0em, 0em);
    width: 3em;
  }
}
